<mat-progress-bar mode="indeterminate"></mat-progress-bar>  
<div class="searchproduct">
    <h3 class="header">Search<mat-icon>keyboard_arrow_right</mat-icon>Products</h3>
    <hr style="color:#e7e7f0;height: 1px;">
    <h1 class="title"><mat-icon class="title-icon" >open_in_new</mat-icon>Search Products</h1>
    <div class="searchproduct-content">
        <form class="example-form">
            <div class="table-header">
                <mat-form-field appearance="outline" class="fieldsearch">
                    <mat-label>product Name</mat-label>
                    <input matInput [(ngModel)]="searchproduct" (keyup)="searchProduct()" placeholder="Search">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
            
            <div class="table-header">
                <button mat-flat-button color="primary" class="button-search" (click)="searchProduct()" >Search</button>
            </div>
        </form>
    </div>

    <div class="searchedproduct-content">
        <form class="example-form">
            <div class="table-container">
                <table>
                <tr>
                    <th>#</th>
                    <th>Category</th>
                    <th>Company</th>
                    <th>Product Name</th>
                    <th>Pricing</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let item of data.slice(pageIndex * pageSizes, (pageIndex + 1) * pageSizes); let e=even;let i= index;">
                    <td>{{ item.id }}</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.comapany }}</td>
                    <td>{{ item.productName }}</td>
                    <td>{{ item.pricing }}</td>
                    <td>                    
                        <input matInput [(ngModel)]="quantity" value="1" placeholder="Search" style="border:1px solid #38474e;padding:4px;max-width:60px;">
                    </td>
                    <td>
                        <button mat-stroked-button color="primary" (click)="searchProduct()" >Add Cart</button>
                    </td>
                </tr>
                </table>
            </div>
            <div class="table-footer">
                <mat-paginator [pageSize]="pageSizes"  [length]="totalItems" (page)="onPageChange($event)"></mat-paginator>
            </div>
        </form>
    </div>

    <div class="selectedproduct-content">
        <h1 class="title"><mat-icon class="title-icon" >open_in_new</mat-icon>Shopping Cart</h1>
        <hr style="color:#e7e7f0;height: 1px;">
        <form class="example-form">
            <div class="table-container">

                <p style="color:red;font-weight:500;font-size:16px;display:inline-block;margin-top: 4px;margin-left: 12px;">Your Cart is Empty</p>
                <button mat-stroked-button color="warn" (click)="emptyCart()" style="float:right;margin-right:12px;">Empty Cart</button>

                <table>
                    <tr>
                        <th>#</th>
                        <th>Product Name</th>
                        <th>Category</th>
                        <th>Company</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                    <tr *ngFor="let item of shoppingData.slice(shopingPageIndex * shopingPageSizes, (shopingPageIndex + 1) * shopingPageSizes); let e=even;let i= index;">
                        <td>{{ item.id }}</td>
                        <td>{{ item.productName }}</td>
                        <td>{{ item.category }}</td>
                        <td>{{ item.comapany }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.unitPrice }}</td>
                        <td>{{ item.quantity * item.unitPrice }}</td>
                        <td>
                            <button mat-stroked-button color="warn" (click)="searchProduct()" >Remove Item</button>
                        </td>
                    </tr>
                    <tr>
                        
                        <td colspan="2"></td> <!-- Empty cell for Total below Product column -->
                        <td colspan="2">Total</td>
                        <td>{{totalQuantity()}}</td> <!-- Display totalQuantity() below Quantity column -->
                        <td colspan="1"></td> <!-- Empty cell for Total below Unit Price column -->
                        <td colspan="2" style="font-weight: 500;">{{totalPrice()}}.00</td> <!-- Display totalPrice() below Price column -->
                      </tr>
                </table>
            </div>
            <div class="table-footer">
                <mat-paginator [pageSize]="pageSizes"  [length]="totalItems" (page)="onPageChange($event)"></mat-paginator>
            </div>
            <div>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Customer Name</mat-label>
                    <input type="text" matInput [formControl]="customerName" [errorStateMatcher]="matcher"
                            placeholder="Category">
                    <mat-icon matSuffix color="primary" *ngIf="customerName.valid">check</mat-icon>
                    <!-- <mat-icon matSuffix color="primary" *ngIf="customerName.hasError('required')">clear</mat-icon> -->
                    <mat-error *ngIf="customerName.hasError('required')">
                    Please provide a valid customer name.
                    </mat-error>
                    <mat-error *ngIf="customerName.hasError('pattern') && customerName.touched">This symbol is invalid.</mat-error>
                
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Customer Number</mat-label>
                    <input type="number" matInput [formControl]="customerNumber" [errorStateMatcher]="matcher" placeholder="Category">
                    <mat-icon matSuffix color="primary" *ngIf="customerNumber.valid">check</mat-icon>
                    <mat-error *ngIf="customerNumber.hasError('required')">Please provide a valid number.</mat-error>
                    <mat-error *ngIf="customerNumber.hasError('maxLength')">Number should be 10 digits only.</mat-error>
                  
                </mat-form-field> 
            </div>
        </form>
    </div>

</div>