<mat-toolbar color="primary" class="mat-toolbar">
  <!-- after click on "isExpanded" set false and if after another click "isExpanded" will set true -->
	<button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
	<h1 class="app-name"></h1>

	<span class="spacer"></span>
	<mat-form-field style="visibility:hidden;top: 50px;left: 36px;height: 100%;max-width: 120px;width: 100%;">
		<mat-select #matSelect style="font-size: medium;">
		  <mat-option value="option1"><mat-icon mat-list-icon color="primary">person</mat-icon>Profile</mat-option>
		  <mat-option value="option2"><mat-icon mat-list-icon color="primary">settings</mat-icon>Setting</mat-option>
		  <mat-option value="option3"><mat-icon mat-list-icon color="primary">exit_to_app</mat-icon>Log out</mat-option>
		</mat-select>
	</mat-form-field>
	<button mat-icon-button class="toolbar-icon" aria-label="Example icon-button with share icon">
		<img mat-raised-button src="assets/user.png" alt="Photo" style="height:40px;" (click)="matSelect.open()">
		<span *ngIf="isActive" style="position: absolute; bottom: 0; right: 0; background-color: green; width: 10px; height: 10px; border-radius:10px;"></span>
	</button>	

</mat-toolbar>
<!-- "autosize" is used to exapand sidenav according to screen -->
<mat-sidenav-container style="background-color: #f5f5f7;" autosize>
  <!-- (mouseenter) and (mouseleave) are inbuilt function which are call when mouse cursor click and mouse cursor leave respectively  -->
	<mat-sidenav #sidenav class="sidenav-container" mode="side" opened="true" [class.active]="isExpanded" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
		<mat-nav-list class="sidenav-list">

			<!-- Dashboard -->
			<mat-list-item class="parent">
						<span class="full-width" (click)="navigateTo('/dashboard')" *ngIf="isExpanded || isShowing">Dashboard</span>
						<mat-icon mat-list-icon color="primary">dashboard</mat-icon>
			</mat-list-item>

      		<!-- Category -->
      		<mat-list-item (click)="showCategory = !showCategory" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Category</span>
				<mat-icon mat-list-icon color="primary">description</mat-icon>
        		<!-- if showCategory is true then css property of rotated is apply otherwise not apply -->
				<mat-icon class="menu-button" [ngClass]="{'rotated' : showCategory}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
			</mat-list-item>
				<div class="submenu" [ngClass]="{'expanded' : showCategory}" *ngIf="showCategory">
					<a mat-list-item (click)="navigateTo('/addcategory')">Add</a>
					<a mat-list-item (click)="navigateTo('/managecategory')">Manage</a>
					<!-- <mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
						<span class="full-width" *ngIf="isExpanded || isShowing">Nested Menu</span>
						<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
					</mat-list-item>
					<div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
						<mat-list-item>SubSubmenu Item 1</mat-list-item>
						<mat-list-item>SubSubmenu Item 2</mat-list-item>
					</div> -->
				</div>

      		<!-- Company -->
      		<mat-list-item (click)="showCompany = !showCompany" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Company</span>
				<mat-icon mat-list-icon color="primary">description</mat-icon>
        		<!-- if showCompany is true then css property of rotated is apply otherwise not apply -->
				<mat-icon class="menu-button" [ngClass]="{'rotated' : showCompany}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
			</mat-list-item>
				<div class="submenu" [ngClass]="{'expanded' : showCompany}" *ngIf="showCompany">
					<a mat-list-item (click)="navigateTo('/addcompany')">Add</a>
					<a mat-list-item (click)="navigateTo('/managecompany')">Manage</a>
				</div>

			<!-- Product -->
			<mat-list-item (click)="showProduct = !showProduct" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Product</span>
				<mat-icon mat-list-icon color="primary">library_books</mat-icon>
        		<!-- if showProduct is true then css property of rotated is apply otherwise not apply -->
				<mat-icon class="menu-button" [ngClass]="{'rotated' : showProduct}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
			</mat-list-item>
				<div class="submenu" [ngClass]="{'expanded' : showProduct}" *ngIf="showProduct">
					<a mat-list-item (click)="navigateTo('/addproduct')">Add</a>
					<a mat-list-item (click)="navigateTo('/manageproduct')">Manage</a>
				</div>

			<!-- Search product -->
			<mat-list-item class="parent">
						<span class="full-width" (click)="navigateTo('/searchproduct')" *ngIf="isExpanded || isShowing">Search Product</span>
						<mat-icon mat-list-icon color="primary">search</mat-icon>
			</mat-list-item>

			<!-- Invoices -->
			<mat-list-item class="parent">
						<span class="full-width" (click)="navigateTo('/invoices')" *ngIf="isExpanded || isShowing">Invoices</span>
						<mat-icon mat-list-icon color="primary">receipt</mat-icon>
			</mat-list-item>

			<!-- Reports -->
			<mat-list-item (click)="showReport = !showReport" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Reports</span>
				<mat-icon mat-list-icon color="primary">assignment</mat-icon>
        		<!-- if showReport is true then css property of rotated is apply otherwise not apply -->
				<mat-icon class="menu-button" [ngClass]="{'rotated' : showReport}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
			</mat-list-item>
				<div class="submenu" [ngClass]="{'expanded' : showReport}" *ngIf="showReport">
					<a mat-list-item (click)="navigateTo('/betweendates')">B/w Dates</a>
					<a mat-list-item (click)="navigateTo('/sales')">Sales</a>
				</div>

			<!-- Statistics -->
			<mat-list-item class="parent">
				<span class="full-width" (click)="navigateTo('/statistics')" *ngIf="isExpanded || isShowing">Statistics</span>
				<mat-icon mat-list-icon color="primary">poll</mat-icon>
			</mat-list-item>

		</mat-nav-list>
	</mat-sidenav>

	<div class="sidenav-content">
		<router-outlet></router-outlet>
	</div>
	
	<div class="footer-content">
		<app-footer></app-footer>
	</div>
</mat-sidenav-container>
