<div class="addproduct">
    <h3 class="header">Product<mat-icon>keyboard_arrow_right</mat-icon>Add</h3>
    <hr style="color:#e7e7f0;height: 1px;">
    <h1 class="title"><mat-icon class="title-icon" >open_in_new</mat-icon>Add Product</h1>
    <div class="addproduct-content">  
        <form class="example-form">
            <div class="form-field">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Category</mat-label>
                    <mat-select [formControl]="CategoryControl" required>
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let category of categories" [value]="category">
                        {{category.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="CategoryControl.hasError('required')">Please select a category.</mat-error>
                    <!-- <mat-hint>{{CategoryControl.value?.date}}</mat-hint> -->
                </mat-form-field>
            </div>
            <div class="form-field">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Comapany</mat-label>
                    <mat-select [formControl]="companyControl" required>
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let company of companies" [value]="company">
                        {{company.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="companyControl.hasError('required')">Please select a company</mat-error>
                    <!-- <mat-hint>{{companyControl.value?.date}}</mat-hint> -->
                  </mat-form-field>
            </div>
            <div class="form-field">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Product Name</mat-label>
                    <input type="text" matInput [formControl]="productNameFormControl" [errorStateMatcher]="matcher"
                            placeholder="Product Name">
                    <mat-icon matSuffix color="primary" *ngIf="productNameFormControl.valid">check</mat-icon>
                    <!-- <mat-icon matSuffix color="primary" *ngIf="productNameFormControl.hasError('required')">clear</mat-icon> -->
                    <mat-error *ngIf="productNameFormControl.hasError('required')">
                    Please provide a valid product name.
                    </mat-error>
                    
                    <mat-error *ngIf="productNameFormControl.hasError('pattern')">This symbol is invalid.</mat-error>
                </mat-form-field>
            </div>
            <div class="form-field">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Product Price (&#8377;)</mat-label>
                    <input type="number" matInput [formControl]="productPriceNameFormControl" [errorStateMatcher]="matcher"
                            placeholder="Product Price">
                    <mat-icon matSuffix color="primary" *ngIf="productPriceNameFormControl.valid">check</mat-icon>
                    <!-- <mat-icon matSuffix color="primary" *ngIf="productPriceNameFormControl.hasError('required')">clear</mat-icon> -->
                    <mat-error *ngIf="productPriceNameFormControl.hasError('required')">
                    Please provide a valid product price.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-field">
                <button mat-flat-button color="primary" style="font-size: 18px;" [disabled]="!productNameFormControl.valid || !productPriceNameFormControl.valid || !CategoryControl.valid || !companyControl.valid">Submit</button>
            </div>
        </form>
    </div>  
    </div>