<!-- <h1 style="margin-left:8px;">Dashboard</h1>  -->
<div class="dashboard">
<div class="dashboard-card-container">  
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>  
    <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-subtitle class="subtitle">Categories</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h1 class="main-content">{{totalCategory}}</h1>
          <p class="content">Listed Categories</p>
        </mat-card-content>
    </mat-card>


    <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-subtitle class="subtitle">Comapanies</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h1 class="main-content">{{totalCompany}}</h1>
          <p class="content">Listed Comapanies</p>
        </mat-card-content>
    </mat-card>


    <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-subtitle class="subtitle">Products</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h1 class="main-content">{{totalProduct}}</h1>
          <p class="content">Listed Products</p>
        </mat-card-content>
    </mat-card>


    <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-subtitle class="subtitle">Total Sales</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h1 class="main-content">{{totalSales}}.00</h1>
          <p class="content">Total sales till date</p>
        </mat-card-content>
    </mat-card>


    <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-subtitle class="subtitle">Last 7 Days Sales</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h1 class="main-content">{{weeksales}}.00</h1>
          <p class="content">Last 7 Days Sales</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-subtitle class="subtitle">Yesturday Sales</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h1 class="main-content">{{yesturdaySales}}.00</h1>
          <p class="content">Yesturday Sales</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-subtitle class="subtitle">Today's Sales</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h1 class="main-content">{{todaySales}}.00</h1>
          <p class="content">Today's Sales</p>
        </mat-card-content>
    </mat-card>
</div>    
</div>