<mat-progress-bar mode="indeterminate"></mat-progress-bar>
<div class="managecompany"> 
    <h3 class="header">Company<mat-icon>keyboard_arrow_right</mat-icon>Manage</h3>
    <mat-divider></mat-divider>
    <h1 class="title"><mat-icon class="title-icon" >open_in_new</mat-icon>Manage Company</h1>
    <div class="managecompany-content">
        <div class="table-header">
            <mat-form-field appearance="outline" class="fieldsearch">
                <mat-label>Search</mat-label>
                <input matInput [(ngModel)]="searchcompany" (keyup)="searchCompany()" placeholder="Search">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="fieldselect">
                <mat-select [(value)]="pageSizes">
                  <mat-option *ngFor="let pageSz of pageSize" [value]="pageSz.size">
                    {{pageSz.size}}
                  </mat-option>
                </mat-select>
                <mat-label matSuffix>Item</mat-label>
            </mat-form-field>
        </div>
        
        <div class="table-container">
            <table>
                <tr>
                    <th>#</th>
                    <th>CompanyName</th>
                    <th>CompanyCode</th>
                    <!-- <th>isDeleted</th>
                    <th>DeletedDate</th>
                    <th>DeletedByUserID</th> -->
                    <th>CreatedDate</th>
                    <th>CreatedByUserID</th>
                    <th>ModifiedDate</th>
                    <th>ModifiedByUserID</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let item of data.slice(pageIndex * pageSizes, (pageIndex + 1) * pageSizes); let e=even;let i= index;" 
                        [class.selected]="selectedRowIndex === i"
                        (mouseenter)="onRowEnter(i)"
                        (mouseleave)="onRowLeave()">
                    <td>{{ item.CompanyId }}</td>
                    <td>{{ item.CompanyName }}</td>
                    <td>{{ item.CompanyCode }}</td>
                    <!-- <td>{{ item.isDeleted }}</td>
                    <td>{{ item.DeletedDate }}</td>
                    <td>{{ item.DeletedByUserID }}</td> -->
                    <td>{{ item.CreatedDate }}</td>
                    <td>{{ item.CreatedByUserID }}</td>
                    <td>{{ item.ModifiedDate }}</td>
                    <td>{{ item.ModifiedByUserID }}</td>
                    <td>
                        <mat-icon color="primary" >edit</mat-icon>&nbsp;&nbsp;
                        <mat-icon color="primary" >delete</mat-icon>
                    </td>
                </tr>
            </table>
        </div>
        <div class="table-footer">
            <mat-paginator [pageSize]="pageSizes" [showFirstLastButtons]="true"  [length]="totalItems" (page)="onPageChange($event)"></mat-paginator>
        </div>
    </div>
</div>